* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
}

h6 {
	font-size: 16px;
}

button {
	font-family: var(--font-space-grotesk), sans-serif;
}

html {
	scroll-behavior: smooth;
}
